secretKey: test
host: localhost
port: 3000
email: snutt@wafflestudio.com
mongo: mongodb://localhost/snutt
fcm:
  api_key: testapikey
  project_id: testprojectid
feedback2github:
  token: testapikey
  repo_owner: wafflestudio
  repo_name: snutt-feedbacks
redis:
  port: 16379